<script>
    import * as d3 from 'd3';
    import { beforeUpdate, onMount } from "svelte";

    let init = false;
    export let provincias, ccaaSeleccionada;
    
    let filteredData = [];

    onMount(() => {
        initChart(provincias, ccaaSeleccionada)
        init = true;
    });

    beforeUpdate(() => {
        if(init){
            updateChart(provincias, ccaaSeleccionada);
        }        
    });

    function initChart(data, opcion) {
        filteredData = filteringData(data, opcion);

        //Barra inferior
        let randomUnaDosis = filteredData.values[filteredData.values.length - 1].porc_vacunados;
        
        document.getElementById('una-dosis').style.width = randomUnaDosis + '%';

        document.getElementById('texto-una-dosis').style.left = (randomUnaDosis + 1) + '%';
        document.getElementById('texto-una-dosis').textContent = randomUnaDosis.toFixed(1) + '%';
    }

    function updateChart(data, opcion) {
        filteredData = filteringData(data, opcion);

        //Barra inferior
        let randomUnaDosis = filteredData.values[filteredData.values.length - 1].porc_vacunados;
        
        document.getElementById('una-dosis').style.width = randomUnaDosis + '%';	

        document.getElementById('texto-una-dosis').style.left = (randomUnaDosis + 1) + '%';
        document.getElementById('texto-una-dosis').textContent = randomUnaDosis.toFixed(1) + '%';

    }

    //////
    // Funciones de filtrado de datos
    //////
    function filteringData(dataFilter, opcion){
        //Filtrados
        let newData = dataFilter.filter((item) => {
            if(item.key == opcion){
                return item;
            }
        })[0];

        console.log(newData);

        return newData;
    }
</script>

<style>
    #bar-chart {
    width: 100%;
    height: 30px;

    background-color: #f0f0f0;
    margin-bottom: 20px;

    position: relative;

    }

    #una-dosis {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
    }

    /* #una-dosis, #pauta-completa {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
    } */

    /* #pauta-completa {
        background-color: #3182bd;
        width: 0%;
        transition: width 1s;
    } */

    #una-dosis {
        background-color: #9ecae1;
        width: 0%;
        transition: width 1s;
    }

    #texto-una-dosis {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;

        transition: left 1s;
    }

    .line-70 {
        position: absolute;
        border: 0.5px solid #353535;
        top: -5px;
        left: 70%;
        height: 40px;
    }

</style>

<div id="bar-chart">
    <div id="una-dosis">				
    </div>
    <span id="texto-una-dosis"></span>
    <div class="line-70"></div>
</div>