<script>
    export let footer;
</script>

<style>
    .data-source {
        opacity: 0.57;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.18px;
        text-align: right;
        color: #000000;
    }
</style>

<h3 class="data-source">{@html footer}</h3>