<script>
    export let title, subtitle;
</script>

<style>
/* Titular */
.title {
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;

    margin-bottom: 6px;
}

/* Subtítulo */
.subtitle {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;

    margin-bottom: 15px;
}

/* Leyenda */
.legend {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.legend span {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000000;
    position: relative;
}
.legend span.diario::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #99d8c9;
}
.legend span.movil::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    width: 16px;
    height: 2px;
    background-color: #2ca25f;
}
</style>

<h1 class="title">{title}</h1>
<h2 class="subtitle">{subtitle}</h2>
<div class="legend">
    <span class="diario">Vacunas diarias</span>
    <span class="movil">Media móvil de 5-7 días</span>
</div>