<script>
    import { onMount } from "svelte";    
    export let provincias, onChange;

    let opcionDefecto = '20', selector = '';

    onMount(() => {
        selector = document.getElementById('provincias');
        initSelector(provincias);
    });

    function initSelector(dataProvincias) {
        //Creamos las opciones del selector
        for(let i = 0; i < dataProvincias.length; i++){        
            let option = document.createElement('option');

            if(dataProvincias[i].key == '20'){
                option.text = 'España';
            } else {
                option.text = dataProvincias[i].values[0].CCAA;
            }		
            option.value = dataProvincias[i].key;

            if(opcionDefecto == dataProvincias[i].key){
                option.selected = 'true';
                opcionDefecto = dataProvincias[i].key;
            }

            if(dataProvincias[i].key == '20'){
                selector.insertBefore(option, selector.firstChild)
            } else {
                selector.appendChild(option);
            }        
        }
    }

    function handleChange(e) {
        opcionDefecto = '';
        onChange(e.target.value);
    }
</script>

<style>
    /* Selector */
    .selector {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    .selector #provincias {
        font-size: 17px;
        font-family: 'Roboto';
        padding: 8px;
        cursor: pointer;
        border-radius: 5px;
        background-color: #fff;
    }
</style>

<div class="selector">
    <select id="provincias" bind:value={opcionDefecto} on:change="{(e) => handleChange(e)}"></select>
</div>