<script>
    import * as d3 from 'd3';
    import Header from './Components/Header.svelte';
    import Selector from './Components/Selector.svelte';
    import Histogram from './Components/Histogram.svelte';
    import BarChart from './Components/BarChart.svelte';
    import Footer from './Components/Footer.svelte';
    import { onMount } from 'svelte';

    //Recepción de datos
    let dataVacunas = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTpRjtEFvRA-MATFdLvFcR_feCorkg84shetw4nYcsCB6Sa8mvR2-IK_blhIenJq5Tx_rudWREECLLi/pub?gid=1953409114&single=true&output=csv';
    let data = [], optionSelected = '20';

    async function fetchData(api) {
        d3.csv(api, 
            function(d){
                return {
                    Cod: d.Cod,
                    Publicacion: d['Publicación'],
                    CCAA: d.CCAA,
                    Nuevas_diarias: +d.Nuevas_diarias.replace('.','').replace(',','.'),
                    Media_7_dias: +d['Media_7 dias'].replace('.','').replace(',','.'),
                    porc_vacunados: +d['%vacunados'].replace(',','.')
                }
            }, 
            function(error, dataInit) {
                if (error) throw error;
                //Agrupamos por provincia (y a nivel nacional)
                let dataProvincias = d3.nest()
                    .key(function(d) {return d.Cod;})
                    .entries(dataInit);

                dataProvincias = dataProvincias.sort(comparativa);
                data = [...dataProvincias];
            }
        )
    }

    function setSelected(selected) {
        optionSelected = selected;
    }

    /* Helpers */
    let normalize = (function() {
        var from = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÑñÇç", 
            to   = "AAAAAEEEEIIIIOOOOUUUUaaaaaeeeeiiiioooouuuunncc",
            mapping = {};
    
        for(var i = 0, j = from.length; i < j; i++ )
            mapping[ from.charAt( i ) ] = to.charAt( i );
    
        return function( str ) {
            var ret = [];
            for( var i = 0, j = str.length; i < j; i++ ) {
                var c = str.charAt( i );
                if( mapping.hasOwnProperty( str.charAt( i ) ) )
                    ret.push( mapping[ c ] );
                else
                    ret.push( c );
            }      
            return ret.join( '' );
        }
    
    })();

    function comparativa(a,b){
        const datoA = normalize(a.values[0].CCAA);
        const datoB = normalize(b.values[0].CCAA);

        let comparacion = 0;
        if (datoA > datoB) {
            comparacion = 1;
        } else if (datoA < datoB) {
            comparacion = -1;
        }
        return comparacion;
    }
    
    onMount(() => {
        fetchData(dataVacunas);
    });    
</script>

{#if data.length == 0}
    
    <p>ESPERAAAAAA</p>

{:else}

    <Header title={"Prueba Widget de vacunas"} subtitle={"Evolución de vacunación"}/>
    <Selector provincias={data} onChange={setSelected}/>
    <Histogram provincias={data} ccaaSeleccionada={optionSelected}/>
    <BarChart provincias={data} ccaaSeleccionada={optionSelected}/>
    <Footer footer={'<span>Elaboración propia a partir de datos</span><span> del xxxx</span>'}/>

{/if}